In [1]:
import pandas as pd

In [ ]:
#lets assume that nba is vvery large files that canot be fit into memory at once so you have 2 ways to read it via pandas:
#chunk
#iterators
#nrows

In [2]:
df = pd.read_csv("nbasalariespoints.csv", usecols = ['Player', 'Pos', 'Age'], chunksize=10) # chucksize parameter specifies the number of rows per chunk

In [3]:
df

In [4]:
for chunk in df:
    pass
    # do waht ever you want

In [5]:
chunk

                 Player  Pos  Age
510          Kyle Casey  NaN  NaN
511      Treveon Graham  NaN  NaN
512       Jarrid Famous  NaN  NaN
513       Shannon Scott  NaN  NaN
514  Ronald Roberts Jr.  NaN  NaN
515     Terran Petteway  NaN  NaN
516          JJ Hickson  NaN  NaN

In [7]:
df = pd.read_csv("nbasalariespoints.csv", usecols = ['Player', 'Pos', 'Age'], iterator=True) # Return TextFileReader object for iteration or getting chunks with get_chunk(
df.get_chunk(15)

               Player Pos  Age
0       Stephen Curry  PG   27
1        James Harden  SG   26
2        Kevin Durant  SF   27
3    DeMarcus Cousins   C   25
4        LeBron James  SF   31
5      Damian Lillard  PG   25
6       Anthony Davis  PF   22
7       DeMar DeRozan  SG   26
8   Russell Westbrook  PG   27
9         Paul George  SF   25
10      Isaiah Thomas  PG   26
11      Klay Thompson  SG   25
12    Carmelo Anthony  SF   31
13      Blake Griffin  PF   26
14      Kawhi Leonard  SF   24

In [ ]:
df = pd.read_csv("nbasalariespoints.csv", usecols = ['Player', 'Pos', 'Age'], nrows=20)
df